*{
    margin: 0;
    padding: 0;
    /* font-family: 'Noto Sans JP', sans-serif; */
}

header{
    background: rgb(61, 170, 97); 
    border-bottom: .5px solid rgba(255, 255, 255, 0.29);
}

header nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px 0 40px;
}

header nav a{
    color: #fff;
    transition: .3S;
}

header nav .logo{
    font-size: 2.2rem;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    margin-top: 5px;  
    transition: .3S;  
    text-decoration: none;
    left: 50px;
}

.dis-banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(61, 170, 97);
    height: 80vh;
}

.dis-banner .dis-cont{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 100px;
    color: #fff;
}

.dis-banner .dis-cont h1{
    font-size: 5rem;
}

.dis-banner .dis-cont p{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-family: 'Kumbh Sans', sans-serif;
}

.dis-banner .dis-cont .btn{
    padding: 10px 30px;
    background: #fff;
}

.dis-banner .dis-cont .btn:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.service{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

/* .service .ser-cont{
    position: relative;
    width: 1100px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

.service .ser-cont-left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px  rgba(131, 131, 131, 0.596);
}

.service .ser-cont-left img{
    width: 100px;
    margin-right: 40px;
}

.service .ser-cont-right{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(216, 216, 216);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(131, 131, 131, 0.596);
}

.service .ser-cont-right img{
    width: 100px;
    margin-left: 40px;
}

.service p{
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
}

.service h2{
    text-align: center;
    margin-top: 120px;
    display: inline-block;
    background:  rgb(159, 238, 157);
    width: 60px;
    border-radius: 5px;
}

.work{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(61, 170, 97);
    color: ;
}

.work .work-cont{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work .work-cont .items{
    position: relative;
    width: 500px;
    height: 480px;
    margin: 20px 10px ;    
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.281); 
    border-radius: 5px;
    box-shadow: 2px 1px 3px rgb(117, 117, 117)39);
}

/* .work .work-cont .left{
    text-align: left;
}
.work .work-cont .right{
    text-align: right;
} */

.work .work-cont .items img{
    width: 100px;
    margin-bottom: 10px;
}

.work .work-cont .text{
    color: #fff;
}

.work .work-cont p{
    font-size: 1.2rem;
}

.work h2{
    position: absolute;
    top: 0;
    text-align: center;
    margin-top: 80px;
    background: #fff;
    width: 40px;
    border-radius: 5px;
}